<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
  $(document).ready( function() {
    
    $('body').on("click", ".larg div h3", function(){
      if ($(this).children('span').hasClass('close')) {
        $(this).children('span').removeClass('close');
      }
      else {
        $(this).children('span').addClass('close');
      }
      $(this).parent().children('p').slideToggle(250);
    });
    
    $('body').on("click", "nav ul li a", function(){
      var title = $(this).data('title');
      $('.title').children('h2').html(title);
    });
  });
  </script>

</body>
</html>
