<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
var pagePath = window.location.pathname;

$(document).ready( function() {
  if ($('.notify-page').length > 0) { 
    var itemCount = $('.larg').length;
    var storedItemCount = localStorage.getItem('itemCount-' + pagePath) || 0;
    if (itemCount > storedItemCount && storedItemCount != 0) { 
      swal("Novos itens!", "Há novos itens disponíveis!", "success");
    }
    localStorage.setItem('itemCount-' + pagePath, itemCount);
  }
  $('body').on("click", "form[action='/accept'] button[type='submit']", function(e){
    e.preventDefault();
    var form = $(this).closest('form');
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function() {
        swal("Pedido aceito!", "O pedido foi aceito com sucesso!", "success")
        .then((value) => {
          location.reload();
        });
      },
      error: function() {
        swal("Erro!", "Houve um erro ao aceitar o pedido.", "error");
      }
    });
  });

  $('body').on("click", "form[action='/sending'] button[type='submit']", function(e){
    e.preventDefault();
    var form = $(this).closest('form');
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function() {
        swal("Pedido em envio!", "O pedido está sendo enviado!", "success")
        .then((value) => {
          location.reload();
        });
      },
      error: function() {
        swal("Erro!", "Houve um erro ao atualizar o status do pedido.", "error");
      }
    });
  });

  $('body').on("click", "form[action='/finish'] button[type='submit']", function(e){
    e.preventDefault();
    var form = $(this).closest('form');
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function() {
        swal("Pedido finalizado!", "O pedido foi finalizado com sucesso!", "success")
        .then((value) => {
          location.reload();
        });
      },
      error: function() {
        swal("Erro!", "Houve um erro ao finalizar o pedido.", "error");
      }
    });
  });

 $('.larg div').each(function(index) {
    var id = 'item-' + pagePath + '-' + index;
    $(this).data('id', id);
    if (localStorage.getItem(id) === 'open') {
      $(this).children('h3').children('span').addClass('close');
      $(this).children('p').show();
    }
  });

  $('body').on("click", ".larg div h3", function(){
    var id = $(this).parent().data('id');
    if ($(this).children('span').hasClass('close')) {
      $(this).children('span').removeClass('close');
      localStorage.setItem(id, 'closed'); 
    }
    else {
      $(this).children('span').addClass('close');
      localStorage.setItem(id, 'open'); 
    }
    $(this).parent().children('p').slideToggle(250);
  });

  $('body').on("click", "nav ul li a", function(){
    var title = $(this).data('title');
    $('.title').children('h2').html(title);
  });
});
</script>

</body>
</html>