<header>
    <h1>Dashboard</h1>
    <nav>
    </nav>
  </header>
  <main>
    <div class="title1">
      <h2><%= title1 %></h2>
      <a href="javascript:void(0);">Hello </a>
    </div>

    <nav class="main-menu">
        <ul>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A' || locals.accessKey === 'B' || locals.accessKey === 'C' || locals.accessKey === 'D') { %>
                    <a href="/home">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                <% } %>
            </li>
            <li class="has-subnav">
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A') { %>
                    <a href="/auth">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            colocar permissão
                        </span>
                    </a>
                <% } %>
            </li>
            <li class="has-subnav">
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A') { %>
                    <a href="/index">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            tirar permissão
                        </span>
                    </a>
                <% } %>
            </li>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A' || locals.accessKey === 'B') { %>
                    <a href="/products">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Produtos
                        </span>
                    </a>
                <% } %>
            </li>
            <li class="has-subnav">
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A' || locals.accessKey === 'B' || locals.accessKey === 'D') { %>
                    <a href="/requests">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Pedidos
                        </span>
                    </a>
                <% } %>
            </li>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A' || locals.accessKey === 'B' || locals.accessKey === 'C') { %>
                    <a href="/sending">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                            Enviar
                        </span>
                    </a>
                <% } %>
            </li>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A' || locals.accessKey === 'B') { %>
                   <a href="/finish">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Finalizados
                        </span>
                    </a>
                <% } %>
            </li>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A') { %>
                   <a href="/accessKey">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Accesskey
                        </span>
                    </a>
                <% } %>
            </li>
            <li>
                <% if (locals.accessKey === 'S' || locals.accessKey === 'A') { %>
                    <a href="/clientes">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Clientes
                        </span>
                    </a>
                <% } %>
            </li>
        </ul>

        <ul class="logout" style="padding-bottom: 100px;">
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white" type="submit"  >Logout</button>
    
                  </form>
            </li>  
        </ul>
    </nav>