<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Home'}) %>





<section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h2 class="subtitle">
          Geranciando nossas atividades diárias =D
        </h2>
      </div>
    </div>
  </section>


  <%- include('../layout/footer') %>